[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests

Environment=KUBELET_VERSION={{ K8S_VER }}
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --api-servers=http://127.0.0.1:8080 \
  --register-schedulable=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ MASTER_HOST }} \
  --cluster-dns={{ DNS_SERVICE_IP }} \
  --cluster-domain=cluster.local
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target